body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color:#D62F56;
  font-weight: bold;
  text-align:left ;
}


/* Container Styles */
#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Title Styles */
#title {
  text-align: center;
  color: #666666;
}

/* Search Input Styles */
#searchInput {
  margin-bottom: 20px;
}

/* Load More Button Styles */
#loadMoreButton {
  background-color: #d62f56;
  border: none;
}

#loadMoreButton:hover {
  background-color: #c20430;
}

/* Event List Styles */
#eventList {
  list-style-type: none;
  padding: 0;
}

/* Event Item Styles */
#eventItem {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #666666;
  background-color: #fff;
}

/* Event Date */
#eventDate{ 
  color: #666666;
  font-size: large;
  

}

/* Button Style (Attend Buton)*/
#Button {
  font-weight: bold;
  text-align: center;
  background-color: #d62f56; 
  color: #fff; 
  padding: 10px 20px;
  cursor: pointer; 
}

/* Button Style (Load More)*/
#Button2{
  text-decoration-line: underline;
  color: #d62f56;
  background-color: #fff; 
  border: none;
  margin:0 auto;
  display:block;
}


/* Add this style for clickable events */
td[role="Event-button"] {
  cursor: pointer;
  text-decoration: underline;
  color: #d62f56;
}

/* Add this style for selected events in the Selected Events list */
ul[aria-label="Selected Events"] li {
  color: #d62f56;
}